<div class="modal-content white-text">
  <div class="modal-body">
    <div ba-panel
         ba-panel-title="Cererea formului"
         ba-panel-class="with-scroll">
      <div>
        <form editable-form name="rowform" class="form-horizontal" ng-show="rowform.$visible" shown="true">

          <div class="row">
            <div class="col-md-6">
              <div class="">
                <label for="exampleUsername1">Nume</label>
                <input type="text" class="form-control" id="exampleUsername1" name="username" placeholder="Nume" ng-model="form.lastName" disabled>
              </div>
              <div class="">
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="email" placeholder="Email" ng-model="form.email" disabled>
              </div>
              <div class="">
                <label for="serieIc">Serie CI</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="email" placeholder="Serie CI" ng-model="form.icSerie" disabled>
              </div>
              <div class="">
                <label for="serieIc">Locul nașterii</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="email" placeholder="Serie CI" ng-model="form.birthPlace" disabled>
              </div>
              <div class="">
                <label for="serieIc">Prenumele tatălui</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="email" placeholder="Serie CI" ng-model="form.fatherFirstName" disabled>
              </div>
              <div class="">
                <label for="serieIc">Specializarea</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="email" placeholder="Serie CI" ng-model="form.specialization" disabled>
              </div>
              <div>
                <label>Preferințe cămin</label>
                <input type="text" class="form-control" ng-repeat="dorm in dormOptions" ng-model="dorm.name" disabled/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="">
                <label for="exampleInputPassword1">Prenume</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="password" placeholder="Prenume" ng-model="form.firstName" disabled>
                <span class="help-block error-block basic-block">Required</span>
              </div>
              <div class="" ng-class="{'has-error': form.cnp.$dirty || form.cnp.$submitted}">
                <label for="exampleInputConfirmPassword1">CNP</label>
                <input type="text" class="form-control" id="exampleInputConfirmPassword1" name="confirmPassword" placeholder="CNP" ng-model="form.cnp" disabled>
                <span class="help-block error-block basic-block">Passwords should match</span>
              </div>
              <div class="">
                <label for="exampleInputEmail1">Num&#259;r CI</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="email" placeholder="Num&#259;r CI" ng-model="form.icNumber" disabled>
                <span class="help-block error-block basic-block">Proper email required</span>
              </div>
              <div class="">
                <label for="serieIc">Adresa</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="email" placeholder="Serie CI" ng-model="form.address" disabled>
              </div>
              <div class="">
                <label for="serieIc">Prenumele mamei</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="email" placeholder="Serie CI" ng-model="form.motherFirstName" disabled>
              </div>
              <div class="">
                <label for="serieIc">Anul de studiu</label>
                <input type="text" class="form-control" id="exampleInputEmail1" name="email" placeholder="Serie CI" ng-model="form.year" disabled>
              </div>
              <div>
                <label>Preferințe coleg</label>
                <input type="text" class="form-control" ng-repeat="colleague in colleagueOptions" ng-model="colleague.name" disabled />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="task-todo-container" ng-class="{'transparent': transparent}">
                <div class="">
                  <label for="productName">Preferințele de coleg</label>
                  <input type="text" class="form-control" placeholder="Adăuga coleg.." ng-keyup="addColleague($event)" ng-model="vm.newColleague" />
                </div>
                <i ng-click="addColleague('',true)" class="add-item-icon ion-plus-round"></i>
                <div class="box-shadow-border"></div>
                <ul class="todo-list" ui-sortable ng-model="colleagueOptions">
                  <li ng-repeat="item in colleagueOptions" ng-if="!item.deleted" ng-init="activeItem=false"
                      ng-class="{checked: isChecked, active: activeItem}"
                      ng-mouseenter="activeItem=true" ng-mouseleave="activeItem=false">
                    <div class="blur-container"><div class="blur-box"></div></div>
                    <label>
                      <span class="cut-with-dots">Opțiunea {{$index + 1}}: {{ item.name }}</span>
                    </label>
                    <i class="remove-todo ion-ios-close-empty" ng-click="deleteColleague(item)"></i>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-md-6 col-xs-12">
              <div class="row">
                <div class=" has-feedback col-xs-6">
                  <label for="socialIncome">Venitul lunar (RON)</label>
                  <input type="text" class="form-control" name="socialIncome" placeholder="Venitul lunar pe membru al familiei" ng-model="form.socialIncome" disabled>
                </div>
                <div class="col-xs-6">
                  <label></label>
                  <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="form.social">
                    <span>Caz social:</span>
                  </label>
                </div>
              </div>

              <div class="row">
                <div class=" has-feedback col-xs-6">
                  <label for="socialIncome">Căminul precedent</label>
                  <input type="text" class="form-control" name="socialIncome" placeholder="Căminul în care ați stat anul trecut" ng-model="form.lastDorm" disabled>
                </div>
                <div class="col-xs-6">
                  <label></label>
                  <label class="checkbox-inline custom-checkbox nowrap">
                    <input type="checkbox" ng-model="form.continuity">
                    <span>Continuitate:</span>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <label for="message">Mesaj:</label>
              <textarea ng-model="form.message" type="text" class="form-control" id="message" placeholder="Mesaj inexistent" e-form="rowform" e-name="message" disabled></textarea>
            </div>
          </div>

          <div class="modal-footer  col-xs-12">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            <button type="submit" class="btn btn-danger" ng-click="reject(form)">Respinge</button>
            <button type="submit" class="btn btn-success" ng-click="validate(form)">Validează</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>