<div class="widgets">
  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Cereri de cazare" ba-panel-class="with-scroll">
        <div class="horizontal-scroll">
          <table class="table" st-table="safeCopyForms" st-safe-src="forms">
            <thead>
              <tr class="sortable ">
                <th class="table-id" st-sort="no" st-sort-default="true">Nr. Crt.</th>
                <th st-sort="lastName">Nume</th>
                <th st-sort="firstName">Prenume</th>
                <th st-sort="cnp">CNP</th>
                <th st-sort="specialization">Specializare</th>
                <th st-sort="message">Mesaj</th>
                <th st-sort="status">Starea cererii</th>
                <th>Acțiuni</th>
              </tr>
              <tr>
                <th></th>
                <th>
                  <input st-search="user.lastName" placeholder="Caută după nume" class="input-sm form-control search-input" type="search" />
                </th>
                <th>
                  <input st-search="user.firstName" placeholder="Caută după prenume" class="input-sm form-control search-input" type="search" />
                </th>
                <th>
                  <input st-search="user.cnp" placeholder="Caută după CNP" class="input-sm form-control search-input" type="search" />
                </th>
                <th>
                  <select st-search="user.specialization" class="input-sm form-control search-input">
                    <option value="">Toate</option>
                    <option value="Informatică">Informatică</option>
                    <option value="CTI">CTI</option>
                    <option value="Matematică">Matematică</option>
                  </select>
                </th>
                <th>
                  <input st-search="observations" placeholder="Caută dupa mesaj" class="input-sm form-control search-input" type="search" />
                </th>
                <th>
                  <select st-search="state" class="input-sm form-control search-input">
                    <option value="">Toate</option>
                    <option value="3">Aprobate</option>
                    <option value="4">Respinse</option>
                    <option value="2">Neevaluate</option>
                    <option value="1">În așteptare</option>
                  </select>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="form in safeCopyForms" ng-class="getFormClass(form)">
                <td class="table-id">{{ $index + 1 }}</td>
                <td>
                  <span>
                    {{ form.user.lastName || "empty"}}
                  </span>
                </td>
                <td>
                  <span>
                    {{ form.user.firstName || "empty"}}
                  </span>
                </td>
                <td>
                  <span>
                    {{ form.user.cnp || "empty"}}
                  </span>
                </td>
                <td>
                  <span>
                    {{ form.user.specialization || ""}}
                  </span>
                </td>
                <td>
                  <span>
                    {{ form.observations || "empty"}}
                  </span>
                </td>
                <td>
                  <span>
                    {{ getState(form.state) || "empty"}}
                  </span>
                </td>
                <td>
                  <div class="buttons">
                    <button class="btn btn-primary editable-table-button btn-xs" data-toggle="modal" ng-click="viewStudentModal('app/pages/managementTable/widgets/studentFormModal.html', 'lg', form)">Evaluează</button>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="11" class="text-center">
                  <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10"></div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>